<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OC-02@符号的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OC-03练习题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OC-04NSString用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OC-05方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OC-06购票系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OC1-第一个OC程序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87363A721B4217A0006143C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>875369C31B420FC600EE4668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AAC7891B3E54BF00728F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AAC7941B40C4B100728F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87BAA5A41B4D68EB0068A15F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D3F4441B3CCFA8001D0EB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
